In [24]:
import sqlite3
import pandas as pd
from pyprojroot import here

In [25]:
# Connect to SQLite database
db_path = here('data/siniestros_sqldb.db')
conn = sqlite3.connect(db_path)

In [30]:
query = """
SELECT ano_vehiculo, COUNT(*) AS total_vehiculos
FROM siniestros_2024
GROUP BY ano_vehiculo
ORDER BY total_vehiculos DESC;
"""
result = pd.read_sql_query(query, conn)
print(result)

    ano_vehiculo  total_vehiculos
0            NaN               42
1         2018.0               22
2         2023.0               20
3         2016.0               18
4         2014.0               17
5         2019.0               16
6         2017.0               16
7         2010.0               14
8         2013.0               13
9         2011.0               13
10        2020.0               12
11        2015.0               12
12        2021.0               11
13        2022.0               10
14        2024.0                8
15        2012.0                6
16        2008.0                3
17        2006.0                3
18        1998.0                3
19        2009.0                2
20        2005.0                2
21        2000.0                2
22        2025.0                1
23        2007.0                1
24        2004.0                1
25        2002.0                1
26        1999.0                1
27        1993.0                1
28        1991.0                1
29        1980.0                1
30        1979.0                1
31        1977.0                1
32        1975.0                1

In [31]:
query = """
SELECT sustancias_peligrosas, COUNT(*) AS total
FROM siniestros_2024
WHERE sustancias_peligrosas IS NOT NULL
GROUP BY sustancias_peligrosas;
"""
result = pd.read_sql_query(query, conn)
print(result)

  sustancias_peligrosas  total
0                    No      2
1                   S/D      2
2                    Si      1

In [19]:
query = """
SELECT provincia, COUNT(*) AS total_siniestros
FROM siniestros_2024
GROUP BY provincia
ORDER BY total_siniestros DESC;
"""
result = pd.read_sql_query(query, conn)
print(result)

    provincia  total_siniestros
0  CORRIENTES               276

In [29]:
query = """
SELECT tipo_involucrado, COUNT(*) AS total
FROM siniestros_2024
GROUP BY tipo_involucrado
ORDER BY total DESC;
"""
result = pd.read_sql_query(query, conn)
print(result)

          tipo_involucrado  total
0                Automóvil    128
1              Motocicleta    102
2     Camioneta/Utilitario     24
3      Transporte de carga      7
4                Bicicleta      7
5                   Peatón      4
6  Transporte de pasajeros      2
7                     Otro      2

In [33]:
query = """
SELECT siniestro_fecha, COUNT(*) AS total_siniestros
FROM siniestros_2024
GROUP BY siniestro_fecha
ORDER BY total_siniestros DESC;
"""
result = pd.read_sql_query(query, conn)
print(result)

         siniestro_fecha  total_siniestros
0    2024-03-16 12:15:00                 4
1    2024-01-06 12:00:00                 4
2    2024-06-08 17:20:00                 3
3    2024-04-07 22:26:00                 3
4    2024-03-28 15:10:00                 3
..                   ...               ...
135  2024-03-29 11:30:00                 1
136   2024-03-22 8:35:00                 1
137  2024-02-24 12:00:00                 1
138   2024-02-23 0:10:00                 1
139  2024-01-11 23:30:00                 1

[140 rows x 2 columns]